@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply p-0 m-0 font-sans;
	@apply scrollbar-thin scrollbar-track-slate-200 scrollbar-thumb-primary;
}
/*
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
*/

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.tremor-MarkerBar-marker {
	@apply bg-primary ring-0;
}

.recharts-rectangle.fill-emerald-500 {
	@apply fill-green-500;
}

.recharts-rectangle {
	@apply fill-teal-500;
}
